@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

/* ====================== [ GLOBAIS ] ===================== */
.cursor {
  cursor: none;
  z-index: 100;
  position: fixed;
  background-color: #00000085;
  border: 1px solid #fff;
  width: 12px;
  height: 12px;
  pointer-events: none;
  border-radius: 100%;
  transition: all ease .12s;
  transform: translate(-50%, -50%);
}
.cursor.hovering {
  cursor: pointer;
  width: 42px;
  height: 42px;
  background-color: #00000030;
  border: solid 1px #00000085;
}

* {
  cursor: none !important;
  font-family: "DM Sans", sans-serif;
  transition: all .3s ease;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #000;
}

html {
  cursor: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100vw;
}

a {
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  font-size: 16px;
  color: var(--black);
  font-weight: 500;
}

/* ====================== [ HEADER ] ===================== */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
  padding: 2rem;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100%;
}

.logo {
  width: 56px;
  border-radius: 100%;
}

.nav-link::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 0%;
  left: 50%;
  bottom: 0;
  transition: all .3s ease;
  background-color: var(--black);
}
.nav-link:hover::before {
	left: 0;
	width: 100%;
  cursor: pointer;
}


/* ====================== [ BODY ] ===================== */
section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.sec-sobre {
  flex-direction: row;
  gap: 12px;
  background-color: #ffffff;
}

/* ====================== [ SCROLL-BAR ] ===================== */

::-webkit-scrollbar {
  background-color: #7a4f4f;
}

::-webkit-scrollbar-track {
  margin: 10rem;
  background: #3a3535;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border: solid 4px #3a3535;
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
